from dataclasses import dataclass
from typing import Optional

@dataclass
class {{ nome_classe }}:
    """
    Classe gerada automaticamente representando a tabela '{{ nome_tabela }}'.
    """
{%- for coluna in colunas if not coluna.is_pk %}
    {{ coluna.nome }}: {{ coluna.tipo_python }}
{%- endfor %}
{%- for coluna in colunas if coluna.is_pk %}
    {{ coluna.nome }}: Optional[{{ coluna.tipo_python }}] = None  # Chave Primária (Auto-incremento)
{%- endfor %}